package controller

import (
	"{{.Path}}/common"
	"{{.Path}}/model"
	"github.com/gin-gonic/gin"
	"net/http"
)

type HelloworldController struct {
}

func (ctr *HelloworldController) Hello(ctx *gin.Context) {
	dao := model.HelloworldDao{}
	ctx.JSON(http.StatusOK, common.Success(dao.Hello()))
}
