package main

import (
	"fmt"
	"github.com/spf13/viper"
	"runtime/debug"
)

func main() {
	defer func() {
		if err := recover(); err != nil {
			fmt.Println(err)
			debug.PrintStack()
		}
	}()

	if err := router.Run(":" + viper.Sub("server").GetString("port")); err != nil {
		fmt.Println(err)
	}

}
